# Miscellaneous
./recorder_frontend/*.class
./recorder_frontend/*.log
./recorder_frontend/*.pyc
./recorder_frontend/*.swp
./recorder_frontend/.DS_Store
./recorder_frontend/.atom/
./recorder_frontend/.buildlog/
./recorder_frontend/.history
./recorder_frontend/.svn/
./recorder_frontend/migrate_working_dir/

# IntelliJ related
./recorder_frontend/*.iml
./recorder_frontend/*.ipr
./recorder_frontend/*.iws
./recorder_frontend/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
./recorder_frontend/**/doc/api/
./recorder_frontend/**/ios/Flutter/.last_build_id
./recorder_frontend/.dart_tool/
./recorder_frontend/.flutter-plugins
./recorder_frontend/.flutter-plugins-dependencies
./recorder_frontend/.pub-cache/
./recorder_frontend/.pub/
./recorder_frontend/build/

# Symbolication related
./recorder_frontend/app.*.symbols

# Obfuscation related
./recorder_frontend/app.*.map.json

# Android Studio will place build artifacts here
./recorder_frontend/android/app/debug
./recorder_frontend/android/app/profile
./recorder_frontend/android/app/release

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
backend/venv
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*