# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
./**/node_modules
backend\venv
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Miscellaneous
./scream_wakeword/*.class
./scream_wakeword/*.log
./scream_wakeword/*.pyc
./scream_wakeword/*.swp
./scream_wakeword/.DS_Store
./scream_wakeword/.atom/
./scream_wakeword/.buildlog/
./scream_wakeword/.history
./scream_wakeword/.svn/
./scream_wakeword/migrate_working_dir/

# IntelliJ related
./scream_wakeword/*.iml
./scream_wakeword/*.ipr
./scream_wakeword/*.iws
./scream_wakeword/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
./scream_wakeword/**/doc/api/
./scream_wakeword/**/ios/Flutter/.last_build_id
./scream_wakeword/.dart_tool/
./scream_wakeword/.flutter-plugins
./scream_wakeword/.flutter-plugins-dependencies
./scream_wakeword/.pub-cache/
./scream_wakeword/.pub/
./scream_wakeword/build/

# Symbolication related
./scream_wakeword/app.*.symbols

# Obfuscation related
./scream_wakeword/app.*.map.json

# Android Studio will place build artifacts here
./scream_wakeword/android/app/debug
./scream_wakeword/android/app/profile
./scream_wakeword/android/app/release
